body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://st2.depositphotos.com/4259495/7423/i/950/depositphotos_74233407-stock-photo-colorful-watercolor-grunge-texture-background.jpg");
  }

  .title {
    font-weight: bold;
  }
  .price {
    font-weight: bold;
  }
  
  h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  fieldset {
    background-color: lightgray;
    width: 60%;
    height: 50px;
  }
  